*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    justify-content: space-around;
}
.main-image-bg {
    width: 280px;
    height: 400px;
    background-image: url("./Images/Car.jpg");
    background-size: contain;
    position: relative;
    left: 0vw;
    top: 20vh;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    
}
.main-image-bg::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: linear-gradient(0deg, black 0%, transparent 40%);
    z-index: 2;
    opacity: 0;
}

.save-button {
    position: absolute;    
    background-color: red;
    width: 70px;
    height: 50px;
    border-radius: 40px;
    right: 5%;
    top: -13%;
    opacity: 0; 
    z-index: 3;
    
}

.save-button p{
    position: absolute; 
    color: white;   
    font-weight: bold;
    top: 30%;
    left: 22%; 
      
}

.option-bar{
    width: 100%;
    height: 50px;   
    bottom: -15%;
    z-index: 3;
    position: absolute;
    transform: translateY(0);
    opacity: 0;
}

.web-link{
    width: 160px;
    height: 40px;
    background-color: #ededed;
    position: absolute;
    left: 10px;
    border-radius: 20px;    
}
.web-link p {
    color: black;
    position: absolute;
    font-size: 21px;
    top: 8px;  
    left: 35px;  
}
.web-link img {
    color: black;
    position: absolute;
    height: 20px;
    top: 11px;
    left: 8px;   
}

.upload {
    width: 40px;
    height: 40px;
    background-color: #ededed;
    border-radius: 50%;
    display: inline;
    left: 65%;
    position: absolute;
}
.upload img {
    color: black;
    position: absolute;
    font-size: 20px;
    top: 8px;
    left: 8px;    
}
.menu-icon {
    width: 40px;
    height: 40px;
    background-color: #ededed;
    border-radius: 50%;
    display: inline;
    left: 82%;
    position: absolute;
}
.menu-icon img {
    color: black;
    position: absolute;
    font-size: 20px;
    top: 11px;
    left: 9px;   
}
.main-image-bg:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.45);
    transition: box-shadow 0.1s;
}
.main-image-bg:hover.main-image-bg::before {
    opacity: 1;
    transition: opacity 1s;
}

.main-image-bg:hover .save-button{
    transform: translateY(60px);
    transition: transform .5s;
    opacity: 1;
    z-index: 3;
}
.main-image-bg:hover .option-bar {
    transform: translateY(-60px);
    transition: transform .5s;
    opacity: 1;
    z-index: 3;
}
